@import "tailwindcss";

@theme {
  --font-display: "Paquito-Variable";
  --default-font-family: "Chillax-Regular";
}

h1 {
  @apply font-display;
  @apply tracking-wide;
  @apply text-3xl;
}

a {
  @apply underline;
  @apply text-blue-600;
}

* {
  @apply tracking-tight;
}
